<div>
    <p>
        From: <%= email.from %>
    </p>
    <p>
        To: <%= email.to %>
    </p>
    <p>
        object: <%= email.object %>
    </p>
    <p>
        body: <%= email.body %>
    </p>
</div>
<%= link_to "Delete", email_path, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger", remote: true %>